{% extends 'base.html' %}
{% load static %}

{% block title %}投稿削除{% endblock %}

{% block active_post_list %}active{% endblock %}

{% block contents %}
<div>
    <div>
        <form method="POST">
            {% csrf_token %}
            <p class="post_finish">本当に削除しますか？</p>
            <div class="button_flex">
                <div class="login_button">
                    <button type="submit">削除</button>
                </div>
                <div class="cancel_button">
                    <a href="{% url 'portal:post_detail' object.pk %}">キャンセル</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
