{% extends 'base.html' %}
{% load static %}

{% block title %}投稿詳細{% endblock %}

{% block active_post_list %}active{% endblock %}


{% block contents %}
<section class="wrapper post_detail"> 
    <div>
        <p class="post_title">
            {{ object.title }}
        </p>
        <p class="post_text">
            {{ object.body|linebreaksbr }}
        </p>
        <div class="post_price">
            <p>価格:</p>
            <p>
                ￥{{ object.price }}
            </p>
        </div>
    </div>

    <div class="post_date">
        <p>作成日時:</p>
        <p>
            {{ object.created_at }}
        </p>
        <p>更新日時:</p>
        <p>
            {{ object.updated_at }}
        </p>
    </div>
    {% if is_self_post %}
    <div class="button_flex">
        <div class="offer_button">
            <a href="{% url 'portal:post_update' object.pk %}">編集</a>
        </div>
        <div class="offer_button">
            <a href="{% url 'portal:post_delete' object.pk %}">削除</a>
        </div>
    </div>
    {% else %} 
    <div class="offer_button">
        <a href="{% url 'portal:post_finish' %}">申し込む</a>
    </div>
    {% endif %}
</section>
{% endblock %}