{% extends 'base.html' %}
{% load static %}

{% block title %}サービス作成{% endblock %}

{% block active_service_list %}active{% endblock %}

{% block contents %}
<div class="login wrapper">
    <div>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="login_input">
                {{ form.as_table }}
            </table>
            <div class="login_button">
                <button type="submit">作成</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}