{% extends 'base.html' %}
{% load static %}

{% block title %}投稿一覧{% endblock %}

{% block active_service_detail %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="wrapper service_detail">
    <div>
        <div>
            <div class="service_main">
                {% if service_image %}
                <img src="{{ service_image.url }}"/>
                {% else %}
                <img src="{% static 'assets/img/no-image.jpg' %}" alt="#">
                {% endif %}
                <div class="service_content">
                    <p class="title">{{ service_name }}</p>
                    <p class="detail">{{ service_overview }}</p>
                    <div class="offer_button">
                        <a href="{% url 'portal:post_create' %}">新しく投稿する</a>
                    </div>
                </div>
            </div>
            <div>
                {% if 'query' in request.get_full_path  %}
                <p class="index_subtitle">検索結果</p>
                {% else %}
                <p class="index_subtitle">新着投稿</p>
                {% endif %}
            </div>
            <div>
                <form action="" method="get">
                    <input name="query" value="{{ request.GET.query }}" type="text" />
                    <button type="submit">検索する</button>
                </form>
            </div>
            
            <ul class="service_post_list">
            {% for post in post_list %}
                <li>
                    <a href="{% url 'portal:post_detail' post.pk %}">
                        <p class="service_post_list_title">
                            {{ post.title }}
                        </p>
                        <p>
                            {{ post.body|truncatechars:20 }}
                        </p>
                        <p class="service_post_list_price">
                            価格:  ￥{{ post.price }}
                        </p>
                        <p class="service_post_list_date">
                            {{ post.created_at }}
                        </p>
                    </a>
                </li>
            {% empty %}
            </ul>
            <p>投稿がありません。</p>
            {% endfor %}
            
            <!-- ページネーション処理 -->
            {% if is_paginated %}
            <ul class="pagination">
                <!-- 前ページへのリンク -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                
                <!-- ページ数表示 -->
                {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
                
                <!-- 次ページへのリンク -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}